# Ignore everything in the 02-data folder
#02-data/*

# Ignore the venv folder (Python virtual environment)
venv/

# JetBrains IDE settings
.idea/

# VsCode IDE settings
.vscode/

# Ignore __pycache__ folders
__pycache__/